* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#main .clock {
  position: relative;
  height: 400px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
}
#main .clock .numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#main .clock .numbers .number {
  font-size: 30px;
  font-weight: 600;
  height: 100%;
  position: absolute;
}
#main .clock .numbers .one {
  transform: rotate(30deg);
}
#main .clock .numbers .one span {
  transform: rotate(-30deg);
  position: absolute;
}
#main .clock .numbers .two {
  transform: rotate(60deg);
}
#main .clock .numbers .two span {
  transform: rotate(-60deg);
  position: absolute;
}
#main .clock .numbers .three {
  transform: rotate(90deg);
}
#main .clock .numbers .three span {
  transform: rotate(-90deg);
  position: absolute;
}
#main .clock .numbers .four {
  transform: rotate(120deg);
}
#main .clock .numbers .four span {
  transform: rotate(-120deg);
  position: absolute;
}
#main .clock .numbers .five {
  transform: rotate(150deg);
}
#main .clock .numbers .five span {
  transform: rotate(-150deg);
  position: absolute;
}
#main .clock .numbers .six {
  transform: rotate(180deg);
}
#main .clock .numbers .six span {
  transform: rotate(-180deg);
  position: absolute;
}
#main .clock .numbers .seven {
  transform: rotate(210deg);
}
#main .clock .numbers .seven span {
  transform: rotate(-210deg);
  position: absolute;
}
#main .clock .numbers .eight {
  transform: rotate(240deg);
}
#main .clock .numbers .eight span {
  transform: rotate(-240deg);
  position: absolute;
}
#main .clock .numbers .nine {
  transform: rotate(270deg);
}
#main .clock .numbers .nine span {
  transform: rotate(-270deg);
  position: absolute;
}
#main .clock .numbers .ten {
  transform: rotate(300deg);
}
#main .clock .numbers .ten span {
  transform: rotate(-300deg);
  position: absolute;
}
#main .clock .numbers .eleven {
  transform: rotate(330deg);
}
#main .clock .numbers .eleven span {
  transform: rotate(-330deg);
  position: absolute;
}
#main .clock .numbers .twelve {
  transform: rotate(360deg);
}
#main .clock .numbers .twelve span {
  transform: rotate(-3600deg);
  position: absolute;
}
#main .clock .hands {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.331);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}
#main .clock .hands .seconds {
  height: 40%;
  width: 3px;
  background-color: red;
  transform: translateY(-50%) rotate(0);
  position: absolute;
  border-radius: 20px;
}
#main .clock .hands .minutes {
  height: 40%;
  width: 3px;
  background-color: blue;
  transform: translateY(-50%) rotate(0);
  position: absolute;
  border-radius: 20px;
}
#main .clock .hands .hours {
  height: 40%;
  width: 5px;
  background-color: green;
  transform: translateY(-50%) rotate(0);
  position: absolute;
  border-radius: 20px;
}
@media(max-width:600px){
    #main{
        .clock{
            width: 300px;
            height: 300px;
        }
    }
}
